<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Module Id="oldl"
          Language="0"
          Version="1.3.0.0"
          Guid="A6B7133F-302D-4A3C-9A8D-5AC0C8944E3A"
          InstallerVersion="200">
    <SummaryInformation Manufacturer="Oh-Laser" />
    
    <Dependency RequiredId="oldl.6C2A904A_F993_4AF2_9861_A08066D7A7BC" RequiredLanguage="0" />
			<Directory Id="oldlclrRoot" Name=".">
				<Component Id="$(var.oldlclr.TargetFileName)" Guid="D52391F0-6D90-496B-A119-6F296C16A31D">
					<File Id="___var.oldlclr.TargetPath_" Source="$(var.oldlclr.TargetPath)" Checksum="yes" KeyPath="yes" />
				</Component>
			</Directory>
    </Module>
</Wix>
